<div id="buttons">
    <p>This page typically takes {{ content | rt }} minutes to read.</p>

    <a href="/start" id="link-start">Featured</a>
    <a href="/now" id="link-now">Latest</a>
    <button type="button" id="toggle-nav" data-hide-lg aria-controls="sidebar" aria-expanded="false">Nav</button>
    <button type="button" id="theme-toggle" aria-label="Switch palette">Palette</button>
</div>