# Ignore everything
/*

# But keep these:
!.gitignore
!README.md
!LICENSE

# Unignore the docs folder and its contents
!docs/
!docs/**

# Keep the .github workflows (if you deploy with Actions)
!.github/
!.github/**

# Ignore Eleventy source and config
input/
eleventy.config.js
package.json
package-lock.json
