# Eleventy build output
output/

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# macOS cruft
.DS_Store
.AppleDouble
.LSOverride

# VS Code and other editor folders
.vscode/
.idea/
*.code-workspace

# System and temdfsdorary files
Thumbs.db
.sass-cache/
.cache/
.tmp/
*.swp
*.swo

# Logs
*.log

# Eleventy cache (if you enable it)
.eleventycache/

# OS and backup noise
*.bak
*.orig
output/